.fabric-whiteboard-colorpicker {
  position: absolute;
  background-color: transparent;

  margin-left: 40px;
  margin-top: -29px;
}

.fabric-whiteboard-colorpicker-hide {
  display: none !important;
}
